.Sky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
  }

  &--sunny {
    background: linear-gradient(195.24deg, #47bfdf 2.07%, #4a91ff 97.37%);
  }

  &--night {
    background: linear-gradient(195.24deg, #485e96 2.07%, #1d2737 97.37%) !important;
  }

  &--storm {
    background: linear-gradient(195.24deg, #507ced 2.07%, #214f96 97.37%);
  }
}
