.PoweredBy {
  text-align: center;
  font-size: 10px;
  color: white;
  z-index: 3;
  position: relative;
  margin: 50px auto 10px auto;

  &__link {
    color: white;

    &:hover {
      color: darken(white, 10);
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}
