$collapse-breakpoint: 900px;
$large-breakpoint: 1100px;
$small-breakpoint: 600px;

.Loading {
  text-align: center;
  background: linear-gradient(195.24deg, #b8e1ff 2.07%, #5f9dff 97.37%), #ffffff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 1234px;
    width: 100%;
    padding: 20px;

    @media (max-width: $collapse-breakpoint) {
      flex-direction: column;
    }
  }

  &__col {
    @media (max-width: $collapse-breakpoint) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #ffffff;
  }

  &__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 63px;
    color: #ffffff;

    @media (max-width: $large-breakpoint) {
      font-size: 40px;
      line-height: 50px;
    }

    @media (max-width: $small-breakpoint) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  &__gif {
    max-width: 363px;
    border-radius: 150px 30px 30px 30px;

    @media (max-width: $small-breakpoint) {
      display: none;
    }
  }

  &__bitcoin-spinner {
    position: relative;
    width: 100%;
    min-height: 100px;

    img {
      animation-name: bitcoin-spinner;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      position: absolute;

      @keyframes bitcoin-spinner {
        0%,
        15% {
          left: 0;
          transform: rotateZ(0deg);
        }

        50%,
        60% {
          left: 70%;
          transform: rotateZ(360deg);
        }

        100% {
          left: 0;
        }
      }
    }
  }
}
