.CurrentForecast {
  text-align: center;
  font-style: normal;
  color: #ffffff;

  &__location {
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 5px;
  }

  &__weather-type {
    font-size: 15px;
    font-weight: 300;
    line-height: 24.75px;
  }

  &__price {
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 94px;
    color: #ffffff;
    text-shadow: 0px 10px 20px rgba(80, 117, 168, 0.5);
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }

  &__flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__today,
  &__label {
    font-weight: 500;
  }

  &__today {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
  }

  &__label {
    font-size: 10px;
    line-height: 165.02%;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }

  &__high-price,
  &__low-price {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
  }

  &__high-price {
    color: #ffffff;
  }

  &__low-price {
    color: rgba(255, 255, 255, 0.5);
  }

  &__today,
  &__label,
  &__high-price,
  &__low-price {
    padding: 0px 7px;
  }
}
