.App {
  min-height: 100vh;
  background: linear-gradient(195.24deg, #47bfdf 2.07%, #4a91ff 97.37%);
}

.App__inner {
  max-width: 543px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}
