.Sun {
  position: fixed;
  left: -58px;
  top: 75px;
  max-width: 164px;
  box-shadow: 20px 20px 40px rgba(31, 59, 113, 0.3),
    inset -15px -15px 40px #ffa048;
  border-radius: 50%;

  // The colors in this glow animation will need to be updated based on future designs

  // animation-duration: 3s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-name: sun-glow;
}

// @keyframes sun-glow {
//   from {
//     box-shadow: 0 0 0 0 #fff8;
//   }
//   25% {
//     box-shadow: 0 0 0 12px #fff4, 0 0 0 0 #fff6;
//   }
//   50% {
//     box-shadow: 0 0 0px 24px #fff0, 0 0 0 10px #fff3;
//   }
//   75% {
//     box-shadow: 0 0 0 24px #fff0, 0 0 0 18px #fff0;
//   }
// }
